@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #121212;
  background: #f6f0e5;
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.font-display {
  font-family: "Space Grotesk", sans-serif;
}

.font-mono {
  font-family: "IBM Plex Mono", monospace;
}

.cm-editor {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
}
